<form class="form-horizontal"
      action="/user/edit/{{user.nickname}}" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Edit your profile</legend>
        {{#if error}}
            <div style="text-align: center">
                <div class="alert alert-dismissible alert-danger fade in" style="display: inline-block">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <span class="glyphicon glyphicon-remove-sign" style="margin-right: 4px"></span>
                    {{error}}
                </div>
            </div>
        {{/if}}
        <div class="form-group">
            <label class="control-label col-sm-4">Picture</label>
            <div class="col-sm-4">
                <input class="form-control" type="file" name="photo">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">About me</label>
            <div class="col-sm-4">
                <textarea class="form-control" rows="6" name="aboutme">{{user.aboutme}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"
                   for="fullName">Full Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control"
                       id="fullName" value="{{user.fullName}}" name="fullName" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="inputLocation">Location</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputLocation" placeholder="Location" name="location" value="{{user.location}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="inputDate">Birthdate</label>
            <div class="col-sm-4 ">
                <input type="date" class="form-control" id="inputDate" placeholder="Birthdate" name="birthdate" required value={{user.birthdate}}>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label class="col-sm-4 control-label"
                   for="password">Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control"
                       id="password" placeholder="Password" name="password">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="confirmedPassword">Confirm Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control"
                       id="confirmedPassword" placeholder="Password"
                       name="confirmedPassword">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
                <a class="btn btn-default" href="/user/details/{{user.nickname}}">Cancel</a>
                <button type="submit" class="btn btn-success">Edit</button>
            </div>
        </div>
    </fieldset>
</form>