<div style="padding: 10px">
    <img src="http://localhost:3000/uploads/{{article.imgName}}" width="100%" style="margin-bottom: 15px">
    <div class="col-md-12">
        <a href="/user/details/{{article.author.nickname}}">
            <img src="/uploads/{{article.author.avatar}}" class="img-circle" alt="Profile picture" width="40px"
                 height="40px" style="margin-bottom: 10px">
            {{article.author.fullName}}
        </a>
        <p>Views: {{article.views}}</p>
        <p>Downloads: {{article.downloads}}</p>
        <p>
            {{#each article.tags }}
                <a class="btn btn-default btn-sm"
                   href="/tag/{{this}}">{{this}}</a>
            {{/each}}
        </p>
    </div>
    <div class="col-md-12" style="margin-bottom: 15px">
        <div class="pull-right">
            <a class="btn btn-default btn-sm" onClick="history.go(-1); return true">&laquo; Back</a>
            <a id="download" class="btn btn-default btn-sm" href="/uploads/{{article.imgName}}"
               download="{{article.imgName}}">Download</a>
            {{#if isSaved}}
                <a class="btn btn-warning btn-sm"
                   href="/article/save/{{article.id}}">Saved</a>
            {{/if}}
            {{#unless isSaved}}
                <a class="btn btn-primary btn-sm"
                   href="/article/save/{{article.id}}">Save</a>
            {{/unless}}
            {{#if isUserAuthorized}}
                <a class="btn btn-success btn-sm"
                   href="/article/edit/{{article.id}}">Edit</a>
                <a class="btn btn-danger btn-sm"
                   href="/article/delete/{{article.id}}">Delete</a>
            {{/if}}
        </div>
    </div>
</div>