<div style="text-align: center">
    {{#each articles}}
        <div class="col-md-4" style="width: 310px; display: inline-block; background-color:#111; padding: 0px; margin:5px;
         border-radius:2px">
            <a href="/article/details/{{this.id}}">
                <img src="http://localhost:3000/uploads/{{this.imgName}}"
                     width="300px" height="180px" style="margin: 5px">
            </a>
            <div class="col-md-8" style="margin: 5px; margin-top: 0px; padding: 0px">
                {{#each this.tags}}
                    <a class="btn btn-default btn-xs"
                       href="/tag/{{this}}">{{this}}
                    </a>
                {{/each}}
            </div>
            <div class="col-md-3" style="margin: 5px; margin-top: 0px ;padding: 0px">
                <label style="text-align: right; margin: 0px">
                    {{this.width}}x{{this.height}}
                </label>
            </div>
        </div>
    {{/each}}
</div>