{% extends 'base.html.twig' %}

{% block main %}
                <article>
                    <header>
                        <h2>{{ article.title }}</h2>
                    </header>

                    <p>
                        {{ article.content }}
                    </p>

                    <small class="author">
                        {{ article.author }}
                    </small>

                    <footer>
                        <div class="pull-right">

                            {% if app.getUser() and (app.getUser().isAuthor(article) or app.getUser().isAdmin()) %}
                                <a class="btn btn-danger btn-sm"
                                   href="{{ path('article_delete', {id: article.id}) }}">Delete</a>
                                <a class="btn btn-success btn-sm"
                                   href="{{ path('article_edit', {id: article.id}) }}">Edit</a>
                            {% endif %}

                            <a class="btn btn-default btn-sm" href="{{ path('blog_index') }}">&laquo; Back</a>
                        </div>
                    </footer>
                </article>
{% endblock %}

